#navbar {
  padding: 2em 10vw;
  display: flex;
  align-items: center;
  justify-content: space-between;

  h1 {
    display: flex;
    color: #FE9D2B;

    img {
      margin-right: 1em;
    }
  }

  ul {
    display: flex;
    list-style: none;

    a {
      margin-right: 2em;
      text-decoration: none;
      color: black;
      transition: 0.3s ease-in-out;
    }

    a:hover {
      color: #FE9D2B
    }
  }
}