#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2em;

  h1 {
    display: flex;
    align-items: center;
    color: #FE9D2B;

    svg {
      margin-right: 1em;
    }
  }

  ul {
    display: flex;
    list-style: none;

    a {
      margin-right: 2em;
      text-decoration: none;
      color: black;
      transition: 0.3s ease-in-out;
    }

    a:hover {
      color: #FE9D2B
    }

    .svg {
      display: none;
    }
  }

  @media (max-width: 600px) {
    ul {
      position: fixed;
      bottom: 0;
      padding: 1em 2em;
      width: 100%;
      margin-left: -5vw;
      justify-content: space-around;
      background: #f3f3f3;
      box-shadow: 0 0 13px 2px #d0d0d0;

      .svg {
        display: unset;
      }

      span {
        display: none;
      }
    }
  }
}