#home {
  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .drop-container {
    // overflow: hidden;
    border-radius: 10px;
  }

  .select {
    height: 50vh;
    width: 80vw;
    margin: auto;
    outline: none;
    max-height: 300px;
    max-width: 300px;
    background: #F3F3F3;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid #CFCFCF;
    transition: 0.3s ease-in-out;

    small {
      color: #707070;
    }
  }

  .select:hover {
    background: #E0E0E0;
  }

  .error {
    color: red !important;
    margin-top: 1em;
  }

  .img-display {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: #f3f3f3;
    padding: 1em 5vw;
    margin: 2em 1em;
    border-radius: 5px;
    border: 1px solid #CFCFCF;

    svg {
      position: absolute;
      cursor: pointer;
      transition: 0.3s ease-in-out;
      top: -10px;
      right: -10px;
    }

    svg:hover {
      transform: scale(1.2);
    }

    // .img-container {
    //   transition: 0.3s ease-in-out;
    // }

    .img {
      position: relative;
      margin: 2em 2em 1em 2em;

      svg {
        top: -10px;
        right: -9px;
      }
    }

    img {
      max-width: 200px;
      border: 1px solid #CFCFCF;
      border-radius: 5px;
    }

    p {
      text-align: center;
      margin-bottom: 2em;
    }
  }

  button {
    display: flex;
    align-items: center;
    padding: 0.7em 1.3em;
    cursor: pointer;
    margin-top: 2em;
    border-radius: 5px;
    border: none;
    outline: none;
    color: white;

    span {
      margin-left: 1em;
    }
  }

  .loading {
    padding: 0.7em 1.3em;
    margin-top: 2em;
  }

  .android {
    background: #A4C639;
  }

  .ios {
    background: #B2B2B2;
  }

  @media (max-width: 600px) {
    .ios {
      margin-bottom: 5em;
    }
  }
}